@font-face {
  font-family: 'Trade Winds';
  src: url('tradewinds.woff2') format('woff2'),
    url('tradewinds.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Leander';
  src: url('leander.woff2') format('woff2'), url('leander.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

html {
  -webkit-print-color-adjust: exact;
}
html,
body {
  padding: 0;
  margin: 0;
}
body {
  text-align: justify;
}
body,
table {
  font-family: 'Leander';
  color: #756357;
  font-size: 14px;
}
h1,
h2,
h3,
strong {
  font-family: 'Trade Winds';
}
main {
  width: 210mm;
  height: 297mm;
  margin: 0 auto;
  padding: 8mm 12mm;
  box-sizing: border-box;
  background: url('paper.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

h1,
hr,
p,
table {
  mix-blend-mode: multiply;
}

section {
  width: 48%;
  display: inline-block;
  vertical-align: top;
  margin: auto;
}

h1,
h3,
small {
  text-align: center;
}
h1 {
  font-weight: 300;
  color: #fff;
  padding: 2px 0;
  margin: 16px auto 0;
  background: url('https://s2.svgbox.net/pen-brushes.svg?ic=brush-1&color=1f1714');
  background-position: 0 -4px;
  background-repeat: no-repeat;
}

h3 {
  font-weight: 300;
  margin: 10px auto 0;
  color: #1f1714;
}

small {
  display: block;
  /* text-transform: lowercase; */
  /* font-variant: small-caps; */
  font-style: italic;
}

a,
.red {
  color: #ad1f1f;
}
a {
  text-decoration: none;
}
a:hover {
  color: #d92626;
}

.black,
strong,
em {
  color: #1f1714;
}
em {
  font-style: normal;
  font-weight: bold;
  background: url('https://s2.svgbox.net/pen-brushes.svg?ic=brush-1&color=ddd8d5');
  background-repeat: no-repeat;
  background-size: 100% 80%;
  background-position: center center;
  padding: 0 4px;
  margin: 0 -4px;
}

strong {
  background: url('https://s2.svgbox.net/pen-brushes.svg?ic=brush-1&color=d92626');
  background-position: 0 17px;
  background-repeat: no-repeat;
  background-size: 100% 3px;
}

hr {
  overflow: visible;
  height: 1px;
  background: url('https://s2.svgbox.net/pen-brushes.svg?ic=brush-1&color=756357');
  padding: 0;
  border: none;
  color: #756357;
  text-align: center;
  margin: 0.6cm 2cm;
}
hr:after {
  content: '⎈';
  display: inline-block;
  position: relative;
  top: -9px;
  font-size: 10px;
  padding: 0 8px;
  background: white;
  border-radius: 100%;
}

table {
  border-collapse: collapse;
}
table td:first-of-type {
  text-align: center;
  color: #1f1714;
}
table td {
  padding: 1mm 2mm;
}
table tr {
  background: url('https://s2.svgbox.net/pen-brushes.svg?ic=brush-1&color=d1cbc7');
  background-repeat: no-repeat;
  background-size: 100% 2px;
  background-position: 0 bottom;
}
table tr:last-of-type {
  background: none;
}
