@font-face {
  font-family: 'Trade Winds';
  src: url('tradewinds.woff2') format('woff2'),
    url('tradewinds.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

html {
  -webkit-print-color-adjust: exact;
}
html,
body {
  padding: 0;
  margin: 0;
}
body {
  font-family: 'Trade Winds';
  text-align: left;
  color: #604939;
}
main {
  width: 210mm;
  height: 297mm;
  margin: 0 auto;
  padding: 10mm 15mm;
  box-sizing: border-box;
  /* border: 1px solid #ff0000; */
  background: url('paper.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

* {
  mix-blend-mode: multiply;
}

section {
  width: 48%;
  display: inline-block;
  vertical-align: top;
  margin: auto;
}

body h1 {
  font-weight: 300;
  margin-bottom: 0px;
  color: #fff;
  padding: 2px 0;
  text-align: center;
  background: url('https://s2.svgbox.net/pen-brushes.svg?ic=brush-1&color=222');
  /* background: url('https://s2.svgbox.net/pen-brushes.svg?ic=brush-1&color=ad1f1f'); */
  background-position: 0 -4px;
  background-repeat: no-repeat;
}

body h3 {
  font-weight: 300;
  margin-top: 10px;
  margin-bottom: 20px;
  color: #222;
  text-align: center;
}

a,
.red {
  color: #ad1f1f;
}
a {
  text-decoration: none;
  background: url('https://s2.svgbox.net/pen-brushes.svg?ic=brush-1&color=ad1f1f');
  background-size: 100% 2px;
  background-position: 0 18px;
  background-repeat: no-repeat;
}
a:hover {
  color: #d92626;
  background: none;
}

.black,
strong {
  color: #1f1714;
}

strong {
  background: url('https://s2.svgbox.net/pen-brushes.svg?ic=brush-1&color=d92626');
  padding: 0 2px;
  background-position: 0 17px;
  background-repeat: no-repeat;
  background-size: 100% 3px;
}

hr {
  overflow: visible;
  height: 3px;
  background: url('https://s2.svgbox.net/pen-brushes.svg?ic=brush-1&color=5c453d');
  padding: 0;
  border: none;
  color: #5c453d;
  text-align: center;
  margin: 1cm 3cm;
}
hr:after {
  /* content: '🜄'; */
  /* content: '~'; */
  content: '§';
  display: inline-block;
  position: relative;
  top: -9px;
  font-size: 1.1em;
  padding: 0 0.25em;
  background: white;
  border-radius: 100%;
}

table {
  border-collapse: collapse;
  color: #604939;
}
table td:first-of-type {
  text-align: center;
  color: #1f1714;
}
table td {
  padding: 1mm 2mm;
}
table tr {
  background: url('https://s2.svgbox.net/pen-brushes.svg?ic=brush-1&color=d1cbc7');
  background-repeat: no-repeat;
  background-size: 100% 2px;
  background-position: 0 bottom;
}
table tr:last-of-type {
  background: none;
}
